{% extends "::base.html.twig" %}

{% block title %}
EasyColo V2 - #Erreur ! 
{% endblock title %}
{% block header %}
Oh... <p id="logo">Mince !</p>
{% endblock header %}
{% block body %}
<br>
<center>
<img src="/403.jpg" alt="403" style="width:250px">
</center>

  <center><strong><h3>Erreur 403 !</h3></strong> 
  <br/>
  <h4>Il semblerait que tu veuille te rendre sur une page que tu n'es pas censé voir !<br/>
  Ce n'est pas bien ! Il vaut mieux retourner d'où tu viens !</h4>
  </center>

  
{% endblock body %}
