{% extends "::base.html.twig" %}

{% block title %}
EasyColo V2 - #Erreur ! 
{% endblock title %}
{% block header %}
Oh... <p id="logo">Mince !</p>
{% endblock header %}
{% block body %}
<br>
<center>
<img src="../404.jpg" alt="404" style="width:250px">
</center>

  <center><strong><h3>Erreur 404 !</h3></strong> 
  <br/>
  <h4>Il semblerait que tu te soit perdu dans les méandres de la matrice..<br/>
  (En gros, la page n'existe pas !)</h4>
  </center>

  
{% endblock body %}
