{% set difference2 = date(Sejour.DateDebut|date('Y/m/d')).diff(date('now'|date('Y/m/d'))) %}
{% set pourcent = ((difference2.days / date(Sejour.DateDebut|date('Y/m/d')).diff(date(Sejour.DateFin|date('Y/m/d'))).days)*100) | number_format(0) %}
<div id="progress">
	<progress value="{{ pourcent }}" min="0" max="100">0%</progress>
	<center><div class="percent">{{ pourcent }} % passés</div ></center>
</div>
