{% extends "SejourBundle:sejour:basesejour.html.twig" %}
{% block equipe %} class="current" {%endblock%}

{% block titre %}L'équipe ! {% endblock titre %}



{% block coeur %}
<section id="pricePlans">
	<center>
		<ul id="plans">
		{% include "SejourBundle:FicheAnim:AnimCard.html.twig" with {'user': Sejour.directeur, 'role': 4} only %}
		{% for animateur in listeAnim %}	
		{% include "SejourBundle:FicheAnim:AnimCard.html.twig" with {'user': animateur.user, 'role': animateur.role} only %}
		{% endfor %}
		</ul>
	</center>
</section>

{% if is_granted('ROLE_ADJOINT') %}
<button id="recrutementboutton">Recruter un animateur</button>
<div id="recrutement" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<span class="close" id="closerecrutement" >&times;</span>
			<center><h4>Recrutement sur le séjour {{ Sejour.nomThema }}</h4></center>
		</div>
		<br>
		<center>
			<div style="width:80%;">
				{{ form(form) }}
			</div>
		</center>
		<br>
	</div>
</div>

<script>
	var modalRe = document.getElementById('recrutement');
	var btnRe = document.getElementById("recrutementboutton");
	var spanRe = document.getElementById("closerecrutement");
	btnRe.onclick = function() {modalRe.style.display = "block";}
	spanRe.onclick = function() {modalRe.style.display = "none";}
</script>

{% endif %}														
{% endblock %}

{% block javascripts %}
{% endblock javascripts %}
