{% extends "SejourBundle:sejour:basesejour.html.twig" %}
{% block ficheacti %} class="current" {%endblock%}

{% block titre %}Fiches d'activité du séjour {% endblock titre %}



{% block coeur %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/dt/dt-1.10.9/datatables.min.css"/>
    {{ datatable_html({
            'id' : 'dta-offres',
        })
    }}
	
<a href="#Actibtn" rel="modal:open"  class="button">Créer une fiche d'activité</a>
<div id="Actibtn" style="display:none;">
  <div class="modal-content">
	<div class="modal-header">
	  <center><h2>Ajout d'une fiche d'activité :</h2></center>
	</div>
	<center>
	<div style="width:80%;">
	{{ form(form) }}
	</br>
	</div>
	</center>
	<div class="modal-footer">
	</div>
  </div>
</div>


<a href="#AddActi" rel="modal:open"  class="button">Ajouter une de mes fiches</a>
<div id="AddActi" style="display:none;">
	<div class="modal-header">
	  <center><h2>Ajout d'une fiche d'activité :</h2></center>
	</div>
	<center>
	<div style="width:80%;">
	    {{ render(controller('SejourBundle:Activite:AjouterFichesActiSejour',{ 'id': Sejour.id })) }}
	</br>
	</div>
	</center>
	<div class="modal-footer">
	</div>
</div>

	
	{% endblock %}



{% block javascripts %}
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>
{{ datatable_js({
        'id' : 'dta-offres',
        'js' : {
            'dom': '<"clearfix"lf>rtip',
            'ajax': path('table_acti_sejour', { 'id': Sejour.id }),
        }
    })
}}
{% endblock javascripts %}
