{% extends "SejourBundle:sejour:basesejour.html.twig" %}
{% block equipe %} class="current" {%endblock%}

{% block titre %}L'équipe ! {% endblock titre %}



{% block coeur %}
<section id="pricePlans">
	<center>
		<ul id="plans">
		{% include "SejourBundle:FicheAnim:AnimCard.html.twig" with {'user': Sejour.directeur, 'role': 4} only %}
		{% for animateur in listeAnim %}	
		{% include "SejourBundle:FicheAnim:AnimCard.html.twig" with {'user': animateur.user, 'role': animateur.role, 'affectation': animateur.id } only %}
		{% endfor %}
		</ul>
	</center>
</section>

{% if is_granted('ROLE_ADJOINT') %}
<a href="#recrutement" rel="modal:open"  class="button">Recruter un animateur</a>
<div id="recrutement" style="display:none;">
	<div class="modal-content">
		<div class="modal-header">
			<center><h4>Recrutement sur le séjour {{ Sejour.nomThema }}</h4></center>
		</div>
		<br>
		<center>
			<div style="width:80%;">
				{{ form(form) }}
			</div>
		</center>
		<br>
	</div>
</div>


{% endif %}														
{% endblock %}

{% block javascripts %}
{% endblock javascripts %}
