<!doctype html>
<html lang="fr">
	<head>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-106511483-1', 'auto');
		  ga('send', 'pageview');

		</script>
		<title>{% block title %}EasyColo V2 !{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
		

		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
		<script
			  src="//code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous"></script>
		{% block style %}
		{% endblock %}	
	</head>
	<body class="homepage">
	
		{% block modal %}
		{% endblock modal %}
		
		<div id="page-wrapper">
			<header id="header">
				<div class="logo container">
					<div>
						{% block header %}
						{% endblock %}
					</div>
				</div>
				<i>{% block subheader %} {% endblock %}</i>
				{% for flashMessage in app.session.flashbag.get('notice') %}
					<br>
					<i>
						{{ flashMessage }}
					</i>
				{% endfor %}
			</header>

			<nav id="nav">
				<ul>
					{% include ":Menu:Home.html.twig" %}
					{% include ":Menu:MonCompte.html.twig" %}
					{% include ":Menu:MesSejour.html.twig" %}
					{% include ":Menu:MesActivites.html.twig" %}
					{% include ":Menu:Administration.html.twig" %}
				</ul>
			</nav>

			{% block body %}
			{% endblock %}

			
			{% block footer %}
			{% endblock %}

			
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/skel-viewport.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>
			<link rel='stylesheet' href='/bundles/modal/jquery.modal.css' />
			<script src="/bundles/modal/jquery.modal.js" type="text/javascript" charset="utf-8"></script>
			{% block javascripts %}
			{% endblock %}
		</div>
	</body>
</html>
