{% trans_default_domain 'FOSUserBundle' %}
</br>
<div class="container">
	<div class="card card-container">
	<h2 class='login_title text-center'>Tapes ton nouveau mot de passe</h2>
	<hr>
	{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
	<div>
		</br>
		<center><button class="btn btn-lg btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}"> Valider </button></center>
	</div>
	{{ form_end(form) }}			
	</div><!-- /card-container -->
</div><!-- /container -->
