{% extends "@FOSUser/interne.html.twig" %}
{% block title %}
EasyColo V2 - Modification du mot de passe
{% endblock title %}
{% block header %}
<p>Modification du mot de passe</p>
{% endblock header %}
{% block body %}
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock body %}
