{% if is_granted('ROLE_ASSISTANT_SANITAIRE') %}
<div id="modalenfant{{ enfant.id }}" style="display:none;">
	<div class="modal-content">
		<div class="modal-header">
			<h2>Édition d'une fiche enfant :</h2>
		</div>
		<div class="modal-body">
			{{ render(controller('SejourBundle:Enfant:editEnfant',{ 'id': enfant.id })) }}
		</div>
		<div class="modal-footer">
			<h3>{{ enfant.nom }} {{ enfant.prenom }}</h3>
		</div>
	</div>
</div>
{% endif %}
