{# app/Resources/views/Emails/registration.html.twig #}
<h3>Bonjour {{ anim.prenom }}</h3>

Ton recrutement sur le séjour suivant : {{ sejour.nomThema }} viens d'être annulé.</br>

Si jamais tu n'as pas été prévenu de cette action, n'hésite pas à prendre contact avec le directeur du séjour.

À bientôt,
L'équipe d'EasyColo
Ps. Ceci est un mail automatique, en cas de problème, contacte le directeur du séjour !
