{% extends "::base.html.twig" %}
{% block title %}
EasyColo V2 - Administration
{% endblock title %}
{% block header %}
Liste des <p id="logo">utilisateurs</p>
{% endblock header %}
{% block body %}
	<div id="main" class="container">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/dt/dt-1.10.9/datatables.min.css"/>
    {{ datatable_html({
            'id' : 'dta-offres',
        })
    }}
	</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>
{{ datatable_js({
        'id' : 'dta-offres',
        'js' : {
            'dom': '<"clearfix"lf>rtip',
            'ajax': path('datatable'),
        }
    })
}}
{% endblock javascripts %}
