{% if dt_item == 0 %}
<a class="button" href="{{ path('enfant_probleme_list', {'id':dt_obj.id}) }}" ><i class="fa fa-user" aria-hidden="true"></i> Fiche enfant</a>
{% else %}
<a class="button" href="{{ path('enfant_probleme_list', {'id':dt_obj.id}) }}" style="background:#E5BE19;"><i class="fa fa-user" aria-hidden="true"></i> {{ dt_item }} problème(s)</a>
{% endif %}
