{% extends "::base.html.twig" %}

{% block body %}


 <div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
	  <center>
	  <h1> Gestion des Activités </h1>
	  </center>
  </div>
  <div class="col-sm-4"></div>
</div> 

<center>
<h2> Ajout d'une activité </h2>
 <div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">{{ form(form) }}</div>
  <div class="col-sm-2"></div>
</div> 
</center>

{% endblock %}



