{% extends "::base.html.twig" %}
{% block title %}
EasyColo V2 - Création d'un séjour
{% endblock title %}
{% block style %}
<link  href="/bundles/datepicker/docs/css/datepicker.css" rel="stylesheet">
<script src="/bundles/datepicker/docs/js/datepicker.js"></script>
<script src="/bundles/datepicker/docs/js/datepicker.fr-FR.js"></script>
{% endblock style %}
{% block header %}
<p id="logo">Création d'un Séjour</p>
{% endblock header %}

{% block body %}

<div id="main-wrapper">
	<div id="main" class="container">
		<div class="row 200%">
			<div class="12u">
			<center>{{ form(form) }}</center>
			</div>
		</div>
	</div>
</div>

<script>
$('[data-toggle="datepicker"]').datepicker({
  language: 'fr-FR'
});
</script>
{% endblock body %}
