{% extends "SejourBundle:sejour:basesejour.html.twig" %}
{% block planning %} class="current" {%endblock%}

{% block titre %}Planning journalier {% endblock titre %}

{% block coeur %}

	{% if "now"|date('Ymd')  < Sejour.DateDebut|date('Ymd') %}

	{% include "SejourBundle:PourcentJour:PasCommence.html.twig" %}
	
	{% elseif "now"|date('Ymd')  > Sejour.DateFin|date('Ymd') %}

	{% include "SejourBundle:PourcentJour:Fini.html.twig" %}
	
	{% else %}
	
	{% include "SejourBundle:PourcentJour:EnCours.html.twig" %}
	
	{% endif %}
	<center><a href="{{ path('sejour_planning_conges', { 'id': Sejour.id }) }}" class="button" role="button"><i class="fa fa-calendar" aria-hidden="true"> Planning des Congés</i></a></center>
	
	{% include "SejourBundle:default:jourcard.html.twig" %}
	
{% endblock %}
