{% extends "::base.html.twig" %}
{% block header %}
<p>Bienvenue sur </p>
<h1><a href="{{ path('sejour_homepage') }}" id="logo">EasyColo</a></h1>
{% endblock %}
{% block body %}
<div id="main-wrapper">
	<div id="main" class="container">
		<div class="row 200%">
			<div class="12u">
				<!-- Highlight -->
					<section class="box highlight">
						<center>
						<img src="/EasyColo.png" width="300px" alt="logo.png"/>
						<h3>Version Béta =)</h3>
						<p> Bonjour à toi cher utilisateur !</br>
						Il semblerait que toi ou ton directeur ai choisi d'utiliser EasyColo pour préparer ton séjour : c'est un bon choix ! </br>
						EasyColo est une plateforme qui a étée conçue dans le but de faciliter la préparation des séjours de vacances. Bien qu'elle soit actuellement
						en ligne, elle est encore toute neuve, et donc en test.</br>
						De ce fait, il n'est pas impossible qu'au cours de ta navigation tu rencontres quelques bugs, d'avance mes excuses. Je te serais reconnaissant
						lorsque tu rencontres un bug de cliquer décrire ce qu'il s'est passé sur ce <a href="https://pad.crans.org/p/EasyColo" target="_blank"> lien </a>. </br>
						Cela me permettre de mieux comprendre l'erreur et ainsi de pouvoir la corriger.</p>
						<p>Bien que la plateforme soit en ligne, il reste également quelques fonctionnalités à développer. Les voici :</p>
						<ul>
							<li> Export du planning de congés au format PDF </li>
							<li> Import d'une liste d'enfant au format xls/xlsx/csv </li>
							<li> Menu Activité :
							<ul>
								<li> <strike> Ajouter le calendrier journalier </strike> </li>
								<li> Permettre d'affecter les animateurs </li>
								<li> Permettre d'affecter les enfants </li>
								<li> Éditer un évènement </li>
								<li> Exporter les trombinoscope des activités </li>
							</ul>
							</li>
							<li> et d'autres .... </li>
						</ul>
						</center>
						<center>
							<img src="/table.jpg" alt="Table en bois" style="width:800px; border:2px solid black;
							-moz-border-radius:7px;
							-webkit-border-radius:7px;
							border-radius:7px; max-width: 100%; height: auto;">
						</center>				
					</section>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block footer %}
	<footer id="footer" class="container">
		<div class="row 200%">
			<div class="12u">

				<!-- About -->
					<section>
						<h2 class="major"><span>Qu'est-ce que EasyColo ?</span></h2>
						<p>
							<strong>EasyColo</strong> est une plateforme développée pour gérer la préparation
							et le déroulement d'un séjour de vacances. Elle est améliorée de séjours en séjours !
							N'hésitez pas à donner votre avis dessus. 
						</p>
					</section>

			</div>
		</div>

		<!-- Copyright -->
			<div id="copyright">
				<ul class="menu">
					<li>&copy; Cédric Lombard - 2017 - Tous droits réservés</li>
				</ul>
			</div>

	</footer>

</div>
{% endblock %}

