{% extends "::base.html.twig" %}
{% block header %}
<img src="/Logo_telligo.png" alt="LogoTelligo" style="width:100px">
<p> - Bienvenue sur </p>
<h1><a href="{{ path('sejour_homepage') }}" id="logo">EasyColo</a></h1>
{% endblock %}
{% block body %}
<div id="main-wrapper">
	<div id="main" class="container">
		<div class="row 200%">
			<div class="12u">
				<!-- Highlight -->
					<section class="box highlight">
						<center>
							
						</center>
						<center>
							<img src="/table.jpg" alt="Table en bois" style="width:800px; border:2px solid black;
							-moz-border-radius:7px;
							-webkit-border-radius:7px;
							border-radius:7px; max-width: 100%; height: auto;">
						</center>				
					</section>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block footer %}
	<footer id="footer" class="container">
		<div class="row 200%">
			<div class="12u">

				<!-- About -->
					<section>
						<h2 class="major"><span>Qu'est-ce que EasyColo ?</span></h2>
						<p>
							<strong>EasyColo</strong> est une plateforme développée pour gérer la préparation
							et le déroulement d'un séjour de vacances. Elle est améliorée de séjours en séjours !
							N'hésitez pas à donner votre avis dessus. 
						</p>
					</section>

			</div>
		</div>

		<!-- Copyright -->
			<div id="copyright">
				<ul class="menu">
					<li>&copy; Cédric Lombard - 2017 - Tous droits réservés</li>
				</ul>
			</div>

	</footer>

</div>
{% endblock %}

