{% extends "SejourBundle:sejour:basesejour.html.twig" %}

{% block titre %}Planning journalier {% endblock titre %}
{% block soustitre %} Activités prévues le {{ jour.date| localizeddate('full', 'none') }}{% endblock soustitre %}
{% block coeur %}


<div class="container">
	<a class="button" href="{{ path('jour_addevent', {'idSejour': Sejour.id, 'id' : jour.id }) }}"><i class="fa fa-calendar-plus-o fa-lg"></i> Ajouter une activité</a>

	{% include "SejourBundle:RecapJour:TableauActi.html.twig" %}

{% endblock %}
