{% extends "::base.html.twig" %}
{% block title %}
EasyColo V2 - Mes séjours
{% endblock title %}
{% block header %}
Mes <p id="logo">séjours</p>
{% endblock header %}

{% block body %}

<div id="main-wrapper">
	<div id="main" class="container">
		<div class="row 200%">
			<div class="12u">
				<center><h2> Séjour à venir ou en cours </h2></center>
				<section class="box highlight">
					{% if listeNouveauSejour| length > 0 %}
						<section id="pricePlans">
							<center>
								<ul id="plans">
									{% include "SejourBundle:ListeSejour:ListeSejour.html.twig" with {'listeSejours': listeNouveauSejour} only %}
								</ul>
							</center>
						</section>
					{% else %}
						<h4>Il n'y a pas encore de séjours prévus...</h4>
					{% endif %}
					<hr>
				</section>
			</div>	
			<div class="12u">
				<center><h2> Séjour passés </h2></center>
				<section class="box highlight">
					{% if listeAncienSejour| length > 0 %}
						<section id="pricePlans">
							<center>
								<ul id="plans">
									{% include "SejourBundle:ListeSejour:ListeSejour.html.twig" with {'listeSejours': listeAncienSejour} only %}
								</ul>
							</center>
						</section>
					{% else %}
						<h4>Tu n'as pas encore participé à un séjour...</h4>
					{% endif %}
					<hr>
				</section>
			</div>
		</div>
		{% if is_granted('ROLE_DIRECTEUR') %}
		<center><a href="{{ path('sejour_creer') }}" class="button" role="button"><i class="fa fa-calendar-plus-o" aria-hidden="true"> Créer un séjour</i></a></center>
		{% endif %}
	</div>
</div>
{% endblock body %}
