{% trans_default_domain 'FOSUserBundle' %}

<div id="main-wrapper">
	<div id="main" class="container">
		<div class="row">
			<div class="12u">
				<div class="content">
					<!-- Content -->
						<article class="box page-content">
							<header>
								<h2>Profil de ...</h2>
							</header>
							{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
							{{ form_widget(form) }}
							<div>
								</br><input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
							</div>
							{{ form_end(form) }}
						</article>
				</div>
			</div>
		</div>
	</div>
</div>
